$primaryColor: #FF0000;

@mixin transition {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

body {
  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: $primaryColor
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;

    img {
      @include transition;
      width: 200px;
      height: 200px;

    }

    img:hover{
      width: 210px;
      height: 210px;
      
      opacity: 0.9;
      //border: 1px solid black;
    }

    div.name {
      text-align: center;  
    }

  }
}






